@media(min-width: 850px){
  .desktopNav{
    display:flex;
  }

  .hamburger{
    display: none;
  }

  .portfolio-box .portfolio-layer p{
    font-size:18px;
  }
}

@media(min-width:1025px){
  section{
    margin: 0 6rem;
  }

  .profile{
    display:flex;
    justify-content: space-between;
    padding:0 auto;
  }

  .section-container{
    display:flex;
    justify-content: space-between;
    padding:0 auto; 
    gap:4rem;
  }

  .aboutContainer,
  .detailsContainer{
    display:flex;

  }

  .about-containers{
    display:flex;
    justify-content: space-between;
    gap:2.5rem;
  }

  .portfolio-wrapper{
    display: flex;
    text-align:initial;
    gap:5.5rem;
    justify-content: space-between;
  }

  .portfolio-container{
    flex:1;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
  }

  .aboutContainer div:nth-child(2),
  .about-containers div:nth-child(2),
  .portfolio-wrapper div:nth-child(2){
    margin-top: 0;
  }

  .text-about{
    margin-bottom: 1rem;
  }

  .contact{
    height:200%;
    width:50%;
    margin:0 25% 0 25%;
  }

  .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    width:20%;
  }
}